.diamond-sponsors-wrapper {
    .opportunity-bottom-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


.gold-sponsors-wrapper {
    background-color: $ash-color;
    .opportunity-bottom-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .opportunity-item {
            width: calc(100% / 6) !important;
        }
    }

}

.silver-sponsors-wrapper {
    .opportunity-bottom-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .opportunity-item {
            width: calc(100% / 6) !important;
        }
    }

}